<section id="forgot-password">
    <h2>Forgot Password</h2>

    <form id="forgot-pswd-form" (submit)="sendResetLink(); $event.preventDefault()">
        <label for="forgot-email">Enter email to reset password</label>
        <input type="email" id="forgot-email" name="email" required [(ngModel)]="email">

        <div class="form-actions">
            <button type="button" class="back-link" routerLink="/login">Back</button>
            <button type="submit">Submit</button>
        </div>
    </form>
</section>
