<section id="password-reset">
    <div class="reset-container card">
        <h2>Reset Password</h2>

        <form id="reset-pswd-form" (submit)="updatePassword(); $event.preventDefault()">
            <div class="form-group">
                <label for="new-password">Enter your new password</label>
                <input type="password" id="new-password" name="password" required [(ngModel)]="newPassword">
            </div>

            <button type="submit" class="book-btn" [disabled]="!token || !newPassword()">Submit</button>
        </form>

        @if (message()) {
            <p class="error-text">{{ message() }}</p>
        }
    </div>
</section>
