<section id="signup">
    <div class="signup-container card">
        <h2>Hello, you are new.</h2>
        <p class="subtitle">Enter your name to complete registration.</p>

        <form id="signup-form" (submit)="signup(); $event.preventDefault()">
            <div class="form-group">
                <label for="signup-first-name">First Name</label>
                <input type="text" id="signup-first-name" name="firstName" required [(ngModel)]="firstName" placeholder="e.g. John">
            </div>

            <div class="form-group">
                <label for="signup-last-name">Last Name</label>
                <input type="text" id="signup-last-name" name="lastName" required [(ngModel)]="lastName" placeholder="e.g. Doe">
            </div>

            <div class="form-actions">
                <button type="submit" class="book-btn">Complete Signup</button>
            </div>
        </form>
    </div>
</section>
